{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  {% block link %}

  {% endblock %}

  <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">

  <title>Welcome to Wayfarer</title>

</head>

<body>
  <!-- Boot Stramp jqeury and popper files -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <header>


    <nav class="navbar navbar-expand-lg ">
      <!-- Navbar containter -->
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt=""></a>
        <!-- Left Side of Navbar -->
        <div class="">
          <ul class=" navbar-nav ml-auto">
            {% if not user.is_authenticated %}
            <!-- Sign In -->
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign In</a>
            </li>
            <!-- Sign Up -->
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign Up</a>
            </li>
            {% else %}
            <!-- Profile -->
            <li class="nav-item">
              <a href="{% url 'cities' 'London' %}" class="nav-link">CITIES</a>
            </li>
            <li class="nav-item">
              <a href="/profile" class="nav-link">{{user}}</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class='nav-link'>LOG OUT</a>
            </li>
            {% endif %}

          </ul>

        </div>
        <!-- End of Left Side -->
      </div>

    </nav>
  </header>

  <!-- Content -->
  <main>
    {% block content %}

    {% endblock %}
  </main>

  <!-- Footer -->
  <!-- <footer class="py-5 fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Wayfarer 2020</p>
    </div>
  </footer> -->

</body>

</html>