{% extends 'base.html' %}

{% block content %}
<h1>Works</h1>
<a href="/profile">Login</a>
<form action="/" method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value='Log In'>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <form action="/" method="post">
      {% csrf_token %}
      {{ form.as_p }}

    </form>

    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value='Sign Up'>

    </form>
    {% endblock %}