{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script defer src="{% static 'scripts/app.js' %}"></script>

{% endblock%}
{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Page Title ( Profile: user ) -->
  <h1 class="mt-4 mb-3">
    <small>{{user.first_name}}</small>
    <p class="joined-date float-right pt-3">Joined on: <span class="orange">{{ user.date_joined }}</span>
    </p>

  </h1>

  <!-- Breadcrumb Profile Page -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Profile Page</li>
  </ol>

  <!-- Profile User Row -->
  <div class="row">

    <!-- Profile (Image) -->
    <div class="col-md-6">
      <img class="img-fluid" src="../static/images/photo3.jpg" alt="">
      <p>
        Your City: <span class="orange">{{city}}</span>
      </p>
    </div>

    <!-- Profile (User Form) -->
    <div class="col-md-6">
      <!--  User First name Profile Form -->
      <h6 class="my-3">Name</h6>
      <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder={{user.first_name}} name='name' class="">
        <input type="submit" value="Submit">
      </form>

      <!-- City name Form -->
      <form action="{% url 'profile' %}" method="POST" class="my-3">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    </div>






  </div>
  <!-- [END] Profile User Row -->

  <!-- Related Posts Row-->
  <h3 class="my-4">{{user.first_name}}'s Recent Posts:</h3>

  <div class="row">

    <!-- Posts (Foor-Loop Postings) -->
    {% for post in posts %}
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="{% url 'post' post.id %}">
        <!-- Post Card -->
        <div class="card">

          <!-- Title -->
          <p>{{post.title}}</p>

          <!-- Picture -->
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
      </a>
    </div>
    {% endfor %}

  </div>
  <!-- [END] Related Posts Row-->

</div>



{% endblock %}