{% extends 'base.html' %}

{% block content %}
<H1>BOOOOOOOOOTSTRAPPPP</H1>
<form action="{% url 'profile' %}" method="POST">
  {% csrf_token %}
  <input type="text" placeholder={{user.first_name}} name='name'>
  <input type="submit">
</form>
<h3>change city</h3>
<form action="{% url 'profile' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit">
</form>

<h1> Hello {{user.first_name}} u joined on {{user.date_joined}} you had choisen {{city}}</h1>
<H2> UR posts</H2>
{% for post in posts  %}
<p> {{ post.title }} </p>
{% endfor %}

{% endblock %}