{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<script defer src="{% static 'scripts/app.js' %}"></script>

{% endblock%}

{% block content %}

<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{ post.title }}
        <small>by
            {{ post.profile.user.username }}
            <p class="float-right">{{ city }}</p>
        </small>

    </h1>

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="breadcrumb-item active">{{ post.title }}</li>
    </ol>


    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="../static/images/syd-beach.jpg" alt="">
            <hr>
            <!-- Date/Time -->
            <p>Posted on {{ post.date }}</p>

            <hr>
            <!-- Post Content -->
            <p>{{ post.description }}</p>
            <hr>

            <!-- Enables user to Edit/Delete if they are the Author of the Post-->
            {% if user.username == post.profile.user.username %}
            <a href="{% url 'delete' city_code post.id %}"> Delete</a>
            <a href="{% url 'edit' post.id %}"> Edit</a>
            {% endif %}

        </div>
        <!-- Sidebar Widgets Column -->
        <!-- TODO  ADVERTISING GIPHY OR SMTHG-->
        <div class="col-md-4">
            <h2>SideBar Item</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nobis ipsum laboriosam minima, neque
                molestias, saepe expedita placeat nesciunt labore ratione quam corrupti necessitatibus facilis, quisquam
                animi quos. Quae consectetur molestias excepturi dolore architecto tenetur libero vero vitae? Enim
                eligendi optio omnis voluptatum quia quos, cumque libero possimus iure aliquam!</p>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock%}

</html>