<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/test/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="text" name='name' placeholder="name">
    <input type="text" name='username' placeholder="username">
    <input type="password" name='password' placeholder="pasword">
    <input type="email" name='email' placeholder="email">
    <input type="submit" value="go">
    </form>
    <form action="/test/" method="post">
        {% csrf_token %}
        <input type="text" name='username' placeholder="username">
        <input type="password" name='password' placeholder="pasword">
        <input type="submit" value="login">

    </form>
</body>
</html>