<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="sign-in">
        <form class="login-form" action="/login" method="post">
            <h2 style="color: white;">Log In</h2>
            <input type="text" name="username" placeholder="Username" autocomplete="off" required>
            <input type="password" name="password" placeholder="Password" autocomplete="off" required>
            <input type="submit" value="Log In">
        </form>
    </div>


</body>

</html>