<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>POSTS</h1>
{% for c in city %}
<a href="{% url 'post' c.id %}">{{c.title }}</a> 
{% endfor %}
<h1>Citys</h1>

<a href="{% url 'test' 'SFO' %}">San Francisco</a>
<a href="{% url 'test' 'LDN' %}">London</a>
<a href="{% url 'test' 'SYD' %}">Sydney</a>
<a href="{% url 'test' 'SEA' %}">Seattle</a>
<p>Creating a city form</p>
<form action="{% url 'test' city_code %}" method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="text"  value='{{city_name}}' readonly name="city">
<input type="submit">
</form>
</body>

</html>