:root {
  /* Color Palette */
  --white: #fff;
  --dark-blue: #100935;
  --orange: #FF9C20;
  --pink: #F72AEE;
  --purple: #973DFC;
  --light-blue: #01C9FF;
  --med-blue: #14ADFF;
  --ocean-bue: #0071FF;
  --fb-white: #F0F2F5;
}

body{
  background-color: var(--dark-blue);
  color: var(--dark-blue);
  max-height: 100vh;
}

.navbar{
  border-bottom: 1px solid var(--orange);
}


.maxtext{
  width: 520px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--dark-blue);
}

.round {
  border-radius: 20px;
  color: var(--white);
  background-color: var(--dark-blue);
}

.container-fluid{
  background-color: var(--fb-white);
}

h2, p {
  color: var(--dark-blue);
}

.border1 {
  border: 1px solid var(--med-blue);
}

.btn-white{
  color: var(--dark-blue)
}

.btn-white:hover{
  color: var(--orange);
}

.post-card {
color: var(--dark-blue);
text-decoration: none !important;
}

.post-card:hover{
  color: var(--orange);
}

.city-btn{
  text-decoration: none !important;
}

.posts{
  background-color: var(--fb-white);
}

.current{
  border: 5px solid var(--orange);
}

