:root {
  /* Color Palette */
  --white: #fff;
  --dark-blue: #100935;
  --orange: #FF9C20;
  --pink: #F72AEE;
  --purple: #973DFC;
  --light-blue: #01C9FF;
  --med-blue: #14ADFF;
  --ocean-bue: #0071FF;
  --fb-white: #F0F2F5;
}

body{
  background-color: var(--fb-white);
  max-height: 100vh;
  color: var(--dark-blue);
}

.joined-date{
  font-size: 20px;
}

.post-img{
  height:200px;
}

.card{
  background-color: transparent;
  border:none;
  text-align: center;
  color: var(--dark-blue);
}

.card-link{
  text-decoration: none;
}

.flex-div{
  display: flex;
  flex-direction: column;
}

.btn-light{
  display: inline;
}


 button[type=submit] {
  border: none;
  width: 100px;
  background-color: transparent;
  color: var(--dark-blue);
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 1rem;
  outline: none;
} 

input[type=submit]:hover {
  background-color: var(--orange);
  color: var(--white);
}

.profile-bg{
  background: url(../images/city.jpg) center/cover;
  filter: opacity();
}