:root {
  --white: #fff;
  --dark-blue: #100935;
  --orange: #FF9C20;
  --pink: #F72AEE;
  --purple: #973DFC;
  --light-blue: #01C9FF;
  --med-blue: #14ADFF;
  --ocean-bue: #0071FF;
}

body {
    padding-top: 56px;
  }
  
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }

  .navbar{
    color: var(--dark-blue)
    
  }